<p>Placeholder for navigation bar</p>
<div class="about-section">
  <h1>About Teammatch</h1>
  <p>This is a web application built for E6156 Project:</p>
  <p>This application aims to help students group with teammates under preferences.</p>
</div>

<h2 style="text-align:center">Features</h2>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="column card">
      <h2>Registration</h2>
      <img src="../../assets/registration.jpg" alt="registration" style="width:100%">
      <p class="brief_description">Easy Registration & Log In</p>
      <p>Register your account using UNI and email and start logging in!</p>
      <p><button class="button" [routerLink]="['/home']">Go To Home Page</button></p>
    </div>
    <div class="column card">
      <h2>Courses</h2>
      <img src="../../assets/courses.jpg" alt="courses" style="width:92%">
      <p class="brief_description">Courses Add System</p>
      <p>With access to courses database, you can add them to your course list!</p>
      <p><button class="button" [routerLink]="['/courses']">Go to Courses page</button></p>
    </div>
    <div class="column card">
      <h2>Find Teammates</h2>
      <img src="../../assets/classmates.jpg" alt="classmates" style="width:100%">
      <p class="brief_description">Teammates Matching System</p>
      <p>Filter the preferences and find your teammates with designed course!</p>
      <p><button class="button" [routerLink]="['/team']">Go to My Teammates page</button></p>
    </div>
  </div>
    <hr>
</div>
